@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}



html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
  box-sizing: border-box;
}

button {
  color: #3992ff;
  font-weight: 500;
}

#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
/* 为除登录注册外的页面添加底部padding */
#root > div:not(.login-container) {
  padding-bottom: 70px;
}

/* 添加主内容区的样式 */
.main-content {
  /* padding-bottom: 70px; */
}
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.leftReturn{
  position: fixed;
  left: 12px;
  top: 30px;
  transform: translateY(-50%);
  z-index: 1000;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}